<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bedutravels - Perfil</title>
  <link rel="stylesheet" href="/static/perfiles/css/index.css">
  <link rel="stylesheet" href="/static/perfiles/css/destinos.css">
  <link rel="stylesheet" href="/static/perfiles/css/perfil.css">
</head>
<body>
  <nav class="menu_main">
      <a class="marca" href="#">
        <strong>BEDUTRAVELS</strong>
      </a>
      <div>
        <a href="">LogIn</a>
        <a href="">SignIn</a>
      </div>
  </nav>

  <section class="profile-container padding-top-lg">
    <div>
      <div class="margin-bottom-sm">
        <p class="title-font margin-bottom-lg text-center">INFORMACIÓN DE TU CUENTA EN BEDUTRAVELS</p>
      </div>
      <div  class="profile-info">
        <div class="profile-inputs">
            Nombre: <input type="text" name="nombre" value="">
            Apellidos: <input type="text" name="apellidos" value="">
            Fecha de nacimiento: <input type="date" name="fechaNacimiento">
            Tipo: <input type="text" name="tipo" value="">
            <button class="button-tour margin-top-sm" style="align-self: center;" type="button" name="button">
              Guardar infromación
            </button>
            <a href="" class="margin-top-md">Cambiar contraseña</a>
        </div>
        <div class="profile-img">
           <img class="margin-bottom-sm" src="/static/perfiles/img/perfil_img.jpg" alt="profile_image">
           <button class="button-tour " type="button" name="button">Cambiar foto de perfil</button>
        </div>
      </div>
    </div>

  </section>

  <footer class="margin-top-lg">
    <ul>
      <li>Bedu Travels</li>
      <li>hola@bedutravels.com</li>
    </ul>
    <div class="social-media-container">
      <img src="/static/perfiles/img/facebook.svg" alt="">
      <img src="/static/perfiles/img/twitter.svg" alt="">
      <img src="/static/perfiles/img/instagram.svg" alt="">
    </div>
  </footer>
</body>
</html>
