html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    font-family: Arial;
}

h1 {
    background-color: #333;
    color: #eee;
    padding: 5px;
}

table {
    width: 75%;
    margin: 0px auto;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover {
    color: #00f;
    background-color: #ddb;
}

td:nth-child(n+2) {
    text-align: right;
}

img {
    width: 100%;
}
