<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/tours/css/index.css">
  <link rel="stylesheet" href="/static/tours/css/forms.css">
  <link rel="stylesheet" href="/static/tours/css/destinos.css">
  <link rel="stylesheet" href="/static/tours/css/profile.css">
  <title>Bedutravels - Login</title>
</head>
<body>
  <nav class="menu_main" style="justify-content:center;">
      <a class="marca" href="/">
        <strong>BEDUTRAVELS</strong>
      </a>
  </nav>
  <section class="profile-container padding-top-lg" style="height: -webkit-fill-available;">
    <div>
      {% if msg %}
      <aside class="text-center">
        {{ msg }}
      </aside>
      {% endif %}
      <div class="margin-bottom-sm">
        <p class="title-font margin-bottom-lg margin-top-lg text-center">Entra al sistema</p>
      </div>
      <div class="profile-info">
        <form class="profile-inputs" method="post">
              {% csrf_token %}
              Usuario: <input type="text" name="username" value="" required>
              Clave: <input type="password" name="password" value="" required>
              <!-- Para indicar a que url se redirige después de hacer login -->
              {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
              {% else %}
              <input type="hidden" name="next" value="/" />
              {% endif %}
              <button class="button-tour margin-top-sm" style="align-self: center; width:50%;" type="submit" name="button">
                Entrar
              </button>
        </form>
      </div>
    </div>

  </section>

</body>
</html>
